
<!--<app-videojuegos></app-videojuegos>-->
<!--<app-heroe></app-heroe>-->

<app-barranavegacion></app-barranavegacion>
<div class="wrap">
  <router-outlet></router-outlet>

</div>
<!--<app-dragonballz></app-dragonballz>-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

