<!--<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link " href="#" aria-current="page"  routerLink="/heroes">Heroe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/videojuegos">Contador</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/dragonballz">Dragonball Z</a>
  </li>
  <li class="nav-item">
    <a class="nav-link ">Disabled</a>
  </li>
</ul>-->

<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<a class="navbar-brand title" routerLink="/homePage"> <h1>𝑅𝑒𝑔𝑖𝑠𝑡𝑒𝑟 𝐶𝑙𝑖𝑒𝑛𝑡 -- 𝐹𝑜𝑟 𝑂𝑠𝑐𝑎𝑟 𝐴𝑙𝑚𝑒𝑛𝑑𝑎𝑟𝑒𝑧</h1></a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse "   id="navbarSupportedContent">
    <ul class="nav justify-content-center" >
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/homepage" >Home <span class="sr-only"></span></a>
      </li>

      <!----->
      <li class="nav-item" >
        <a class="nav-link" routerLink="/videojuegos" >Game Contador</a>
      </li>
      <!----->
      <!----->
      <li class="nav-item" >
        <a class="nav-link" routerLink="/dragonballz" > DragonBall Z</a>
      </li>
      <!----->

      <li class="nav-item" >
        <a class="nav-link" routerLink="heroes" >Heroes</a>
      </li>
      <!----->


    </ul>
    <!--  <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
  </div>
</nav>
